body {
	padding: 0;
	margin: 0;
	background-color: white;
}

header {
background-repeat: no-repeat;
	height: 60vw;
padding-top: 0;
background-size: 100% 100%;
	background-image: url("background.jpg");

}


h1 #branding {
	font-size: 2em;
	font-style: bold;
	font-family: 'Roboto Condensed', sans-serif;
	width: 5vw;
	padding: 0;
	margin: 0;
}



header a {
	color: white;
	text-decoration: none;
	font-size: 1.6em;
	text-align: center;

}
header ul {
	padding: 0;
	margin:0;
	height: 5.7vw;
    box-shadow: 8px 8px 5px #333333;
	background-color: #336699;
	overflow: hidden;
}

header li{
	float: right;
	text-align: center;
	display: inline-block;
	color: white;
	padding: 15px 25px 0 25px;
	font-family: 'Roboto Condensed', sans-serif;
	height: 7vw;
}

header li:hover {
	background-color: #999999;
}

.sticky {
	position: fixed;
	width: 100%;




h1 {

	color: white;
    font-family: 'Major Mono Display', monospace;
    font-size: 7vw;
    padding-top: 10vw;
    padding-left: 10vw;
    margin-top: 0;
}

h1::first-letter {
	color:#999999;
}

h2 {

    color: white;
    font-family: 'Major Mono Display', monospace;
    font-size: 7vw;
    padding-top: 0.5vw;
    padding-left: 15vw;
    margin-top: 0;

}

.boxquote {
	width: 30%;
	font-family: Helvetica, Arial, sans-serif; 
}


p {
	font-size: 2vw;
    font-family: Helvetica, Arial, sans-serif; 
    font-weight:100;
	padding: 5vw 3vw 5vw 5vw;
	line-height: 1.5;
	word-wrap: break-word;
}
p::first-letter {
	font-family: 'Major Mono Display', monospace;
}



.column {

	display: flex;

	flex-wrap: wrap;



}

section {

    margin: 0;
	background-color: white;

}

 @media screen and (max-width: 400px) {



 }



 footer {
 	margin-top: 0;
 	padding: 20px;
 	text-align: center;
 	background: #999999;
 	height: 7vw;

 }


